<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>อาหารดีต้องบอกต่อ</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="header-logo"><image  src = "/images/Main-Logo.png" class="logoheader"> </div>
        <div class="header-input">  <input type="serch" class="main-input" placeholder="ค้นหา" ></div>
        <div> <img src = "/images/search.png" class="search"></div>
        <div class = main-user>  <img src = "/images/user.png" class="user"  >
        <a href="/login" class = user-p id="login">Login</a> </div>

        <!-- <% if (loggedIn) { %>
            <div class="user-pic"> <a href= "login.html"> <img src = "/images/user.png" class="user"  > </a>  <a href="setting.html"><img src = "/images/settings.png"class ="setting"> </a>
            <a href="/logout" class = "logout" id="logout">Logout</a> </div>
        <% } %>
        <% if (!loggedIn) { %>
            <div class = main-user>  <img src = "/images/user.png" class="user"  >
            <a href="/login" class = user-p id="login">Login</a> </div>
        <% } %> -->
    </header>

    <div class="main-mid">
        <div class="main-right-para">
            <h1 class="main-slogan" style="font-family: 'Chonburi', serif;">
                อาหารดีต้องบอกต่อ
            </h1>
        </div>
        <div class ="main-left-logo">
            <img src = "/images/Mid-Logo.png" class = "mid-picture">
        </div>
        
    </div>
    
    <div class=" type-food"> 
        <div class="button-food">
            <a href = "/second-1">
            <img src =  "/images/fried-rice.png" class = "Iconfood"> 
            </a>
        </div>
        
        <div class="button-food">  
            <a href = "/second-2"> 
            <img src = "/images/instant-noodles.png" class = "Iconfood">
            </a>
        </div>

        <div class="button-food">  
            <a href = "/second-3"> 
            <img src = "/images//salad (1).png" class="Iconfood">
            </a>
        </div>
        
        <div class="button-food"> 
            <a href = "/second-4">
            <img src = "/images//hot-soup.png" class= "Iconfood">
            </a>
        </div>

        <div class="button-food">
            <a href = "/second-5">  
            <img src = "/images//mala.png" class="Iconfood">
            </a>
        </div>

        <div class="button-food">
            <a href = "/second-6">   
            <img src = "/images//sukiyaki.png" class="Iconfood">
            </a>
        </div>

        <div class="button-food"> 
            <a href = "/second-7">  
            <img src = "/images//rice.png" class="Iconfood">
            </a>
        </div>

        <div class="button-food"> 
            <a href = "/second-8">  
            <img src = "/images//pizza.png" class="Iconfood">
            </a>
        </div>

        
        <div class="button-food"> 
            <a href = "/second-9">  
            <img src = "/images//Dessert.png" class="Iconfood">
            </a>
        </div>

        <div class="button-food"> 
            <a href = "/second-10">  
            <img src = "/images//Coffee.png" class="Iconfood">
            </a>
        </div>

        <div class="button-food">  
            <a href = "/second-11"> 
            <img src = "/images//Juice.png" class="Iconfood">
            </a>
        </div>


    </div>

    <div> 
        <h class="name-recommend" style="font-family: 'Chonburi', serif;"> 
            ร้านอาหารยอดนิยม</h>
    </div>

    <div class="recommend">
        <a href="/phaidang">
        <div class = store-1>
            <img src = "/images//ไผ่แดง.jpg" class = pic-store-1> 
            <br><p class="name-store-1" style="font-family: 'Chonburi', serif;" > ไผ่แดง </p>
        </div>
        </a>
        
        <div class = store-1>
            <img src = "/images/logo-1.png" class = pic-store-2>
            <p class="name-store-2" style="font-family: 'Chonburi', serif;"> store-2</p>
      </div>

       <div class = store-1>
            <img src = "/images/logo-1.png" class = pic-store-2>
            <p class="name-store-2" style="font-family: 'Chonburi', serif;"> store-3</p>
      </div>
     
    </div>

    <div class="recommend-2">
        <div class = store-1>
            <img src = "/images/logo-1.png" class = pic-store-2> 
            <br><p class="name-store-2" style="font-family: 'Chonburi', serif;" > store-4 </p>
        </div>

        <div class = store-1>
            <img src = "/images/logo-1.png" class = pic-store-2> 
            <p class="name-store-2" style="font-family: 'Chonburi', serif;"> store-5</p>
      </div>

     
    </div>
    

    <div class = main-last>   
        <img src ="/images/last-main-loco.png" class="main-last-pic">
        <p class = "main-last-slogan" style="font-family: 'Chonburi', serif;"> อาหารดีต้องบอกต่อ</p>
    </div>
    
        
    
</body>
</html>