<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <div class="black-bg"></div>
    <header>
        <div class="header-logo">
            <img src="/images/Main-Logo.png" class="logoheader">
        </div>
        <div class="header-input">
            <a href="address-2.html">
                <input type="search" class="main-input" placeholder="ค้นหาร้านอาหารใกล้เคียง">
            </a>
            <img src="/images/search.png" class="search">
        </div>
        <div class="user-pic">
            <a href="profile.html">
                <img src="/images/user.png" class="user">
            </a>
            <a href="setting.html">
                <img src="/images/settings.png" class="setting">
            </a>
            <div class="logout"><p class="p-logout">Logout</p></div>
        </div> 
    </header>

    <div class="black-bg">   
        <div class="scope-h">
            <h class="h" style="font-family: 'Chonburi', serif;">Profile</h>
            <div class="ssq"> 
                <div class="sq">  
                    <div class="data">
                        <div class="logo">
                            <img src="/images/user (1).png" class="pic-logo1">
                        </div>
                        <p class="p">First name</p>
                        <p class="inputt"></p>
                        <p class="p">Last name</p>
                        <p class="inputt"></p>
                        <button type="submit" class="save"><a href="main-2.html">Home </a></button>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</body>
</html>
