<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/second-2(2).css">
</head>
<body>
    <header>
        <div class="header-logo">
            <img src="/images/Main-Logo.png" class="logoheader">
        </div>
        <div class="header-input">
            <a href="address-2.html">
                <input type="search" class="main-input" placeholder="ค้นหาร้านอาหารใกล้เคียง">
            </a>
            <img src="/images/search.png" class="search">
        </div>
        
            <% if (loggedIn) { %>
                <div class="user-pic">
                    <a href="login.html">
                        <img src="/images/user.png" class="user">
                    </a>
                    <a href="setting.html">
                        <img src="/images/settings.png" class="setting">
                    </a>
                    <a href="/logout" class="logout" id="logout">Logout</a>
                </div>
            <% } %>
            <% if (!loggedIn) { %>
                <div class="main-user">
                    <img src="/images/user.png" class="user">
                    <a href="/login" class="user-p" id="login">Login</a>
                </div>
            <% } %>
        </div>
    </header>
    <div class="type">
        <p class="p-type" style="font-family: 'Chonburi', serif;"> ก๋วยตี๋ยว</p> 
        <img class="pic-type" src="/images/instant-noodles.png">
    </div>
    
    <div class="mid">
        <a href="three-2(2).html">
            <div class="store"> 
                <div class="store-1">
                    <div class="img-store-1">
                        <img src="/images/ก๋วยเตี๋ยว1.png" class="img-store-1-pic">
                    </div>
                    <div class="text-store-1">
                        <div class="header-text">
                            <div class="text1-store-1">
                                <div>ชื่อร้าน:</div>
                                <div>ป้าสมพร ก๋วยเตี๋ยวไก่ตุ๋น กาดเขียวหน้าม.พะเยา</div>
                            </div>
                            <div class="text1-store-1">
                                <div>ประเภท:</div>
                                <div>ก๋วยตี๋ยว</div>
                            </div>
                            <div class="text1-store-1">
                                <div>ที่อยู่:</div>
                                <div>ศูนย์อาหารกาดเขียวหลังโลตัส หน้ามหาวิทยาลัยพะเยา ตำบลแม่กา เมือง พะเยา 56000</div>
                            </div> 
                            <div class="text1-store-1">
                                <div>วันเปิด-ปิด:</div>
                                <div>จันทร์-ศุกร์</div>
                            </div> 
                            <div class="text1-store-1">
                                <div>เวลาเปิด-ปิด:</div>
                                <div>10.00-22.00 น.</div>
                            </div>
                            <div class="text1-store-1">
                                <div>ราคา:</div>
                                <div>เริ่มต้น 40 บาท</div>
                            </div>
                            <div class="text1-store-1">
                                <div>ดาว:</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </a>

        <!-- เพิ่มต่อไปตามที่ต้องการ -->
    </div>

    <div class="main-last">   
        <img src="/images/last-main-loco.png" class="main-last-pic">
        <p class="main-last-slogan" style="font-family: 'Chonburi', serif;"> อาหารดีต้องบอกต่อ</p>
    
