<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/setting.css">
</head>
<body>
    <div class="black-bg">
        <header>
            <div class="header-logo">
                <img src="/images/Main-Logo.png" class="logoheader">
            </div>
            <div class="header-input">
                <a href="address-2.html">
                    <input type="search" class="main-input" placeholder="ค้นหาร้านอาหารใกล้เคียง">
                </a>
                <img src="/images/search.png" class="search">
            </div>
            <div class="user-pic">
                <a href="profile.html">
                    <img src="/images/user.png" class="user">
                </a>
                <a href="setting.html">
                    <img src="/images/settings.png" class="setting">
                </a>
                <div class="logout">
                    <p class="p-logout"><a href="/logout">Logout</a></p>
                </div>
            </div>
        </header>

        <div class="black-bg">   
            <div class="scope-h">
                <h class="h" style="font-family: 'Chonburi', serif;">Setting</h>
            </div>
            <div class="ssq"> 
                <div class="sq">
                    <div class="data">
                        <form action="save" method="post">
                            <div class="logo">
                                <img src="/images/ployqq.png" class="pic-logo">
                            </div>
                            <p class="p">First name</p>
                            <input type="text" class="input" name="firstname" placeholder="First name" class="inputt">
                            <p class="p">Last name</p>
                            <input type="text" class="input" name="lastname" placeholder="Last name" class="inputt">
                            <button type="submit" class="save">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
